body {
  background: black;
}
.page-wrapper {
  margin: 0 0 500px 0;
  padding: 0 0 0 0;
}
.nv-custom {
  background: #373434;
}
.content-bar1 {
  background: #373434;
  color: gray;
  border-bottom: 2px solid;
  border-color: green;
}
.content-bar1 a:link {
  color: gray;
}
.content-bar1 a:visited {
  color: gray;
}
.content-bar1 a:hover {
  color: white;
}
@media (min-width: 1024px) {
  .content-bar1 {
    height: 800px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .content-bar1 {
    height: 800px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .content-bar1 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .content-bar1 {
    height: 600px;
    font-size: 12pt;
  }
}
.content-bar2 {
  background: #575353;
  color: gray;
  border-bottom: 2px solid;
  border-color: green;
}
.content-bar2 a:link {
  color: gray;
  margin: 0 0 1% 0;
}
.content-bar2 a:visited {
  color: gray;
}
.content-bar2 a:hover {
  color: white;
}
@media (min-width: 1024px) {
  .content-bar2 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .content-bar2 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  .content-bar2 {
    height: 400px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .content-bar2 {
    font-size: 12pt;
    height: 400px;
  }
}
.download-page {
  background: #373434;
  color: gray;
}
.download-page a:link {
  color: gray;
  text-decoration: underline;
}
.download-page a:visited {
  color: gray;
  text-decoration: underline;
}
.download-page a:hover {
  color: white;
}
@media (min-width: 1024px) {
  .download-page {
    height: 600px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .download-page {
    height: 600px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .download-page {
    height: 400px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .download-page {
    height: 400px;
    font-size: 12pt;
  }
}
.main-page {
  background: black;
  border: 2px solid;
  border-radius: 25px;
  border-color: black;
  color: gray;
}
.main-page a:link {
  color: gray;
  text-decoration: underline;
}
.main-page a:visited {
  color: gray;
  text-decoration: underline;
}
.main-page a:hover {
  color: white;
}
@media (min-width: 1024px) {
  .main-page {
    width: 80%;
    margin: 0 0 0 10%;
    height: 600px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .main-page {
    width: 80%;
    margin: 0 0 0 10%;
    height: 600px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .main-page {
    width: 100%;
    margin: 0 0 0 0;
    height: 400px;
    font-size: 14pt;
    border-radius: 0px;
  }
}
@media (max-width: 480px) {
  .main-page {
    width: 100%;
    margin: 0 0 0 0;
    height: 400px;
    font-size: 12pt;
    border-radius: 0px;
  }
}
.footer {
  text-align: center;
  width: 100%;
  padding: 3% 0 3% 0;
  color: gray;
}
